---
const topic="Hello Astro (A1 plus)"

// function component
// - component name have to uppercase  
// - can only be define in front matter 
// - can not import from .js file
// import {C,ShouldSkip} from './my.js'
const Afunc = ()=><h1> this is A1-4</h1>
const ShouldSkip = () => <>
                           <p> A1-1 </p> 
                           <p> A1-2 </p> 
                           <p> A1-3 </p> 
                         </>  

// import  VueCounter  from './../components/myvue/VueCounter.vue';
import  VueCounter  from './VueCounter.vue';
import {Counter as ReactCounter }  from './ReactCounter.jsx';
// data import (shared data)
import {items,animals,brands} from './mycollection.js'  // fontmatter.js
// function-based component
const ListAnimals=()=><ul>
                        {animals.map((item) => (
                          <>
                            <li>Red {item}</li>
                            <li>Blue {item}</li>
                            <li>Green {item}</li>
                          </>
                        ))}
                      </ul>
const ListBrands=()=><div>{brands.map((item,idx) => (                                                         
                              <>
                                <span>品牌{idx}:</span>
                                <span>{item}</span>                            
                              </>  
                            ))}
                       </div> 
                       
const ListItems=()=><ul>
                    <>
                      <li>item 1</li>
                      <li>item 2</li>
                      <li>item 3</li>
                    </> 
                  </ul>                        
---
<div class="children">
  <h1>{topic}</h1>
</div>
<Afunc />
<ShouldSkip />
 <VueCounter client:visible>
            <h1>A1 =>Hello Vue!</h1>
  </VueCounter>
  <ReactCounter client:visible>
          <h1>A1=>Hello React!</h1>
          <p>A=>What's up?</p>
    </ReactCounter>      
<ListAnimals />
<ListBrands />
<ListItems />    